body{
 /*  background-color: orange; */

}
a:link {
  color: red;
}
a:visited{
  color: red;
}
.container{  
justify-content: space-evenly;
}

#pageText{
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 20px;
  font-size: 20px;
}
#imageBlock
{
  position: relative;
  text-align: center;
}
#methodImage{
  position: relative;
  text-align: center;
  }
#methodText{
font-size: 20px;
padding-left: 75px;
  padding-right: 75px;
  padding-top: 20px;
  font-size: 20px;
}
#outside{
  position: relative;
  text-align: center;
}

#text_decorating{
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 20px;
  font-size: 20px;
}

#cookies{
  position: relative;
  text-align: center;
}

/* to replace boootstrap backgrounds in nav and footer */
.bg-orange{
  background-color: orangered;
}

#bannerImage{
  margin: none;
}

#countdown{
  text-align: center;
  font-family: "Henny Penny";
  font-size: 30px;
  background-color: orangered;
  padding-top: 50px;
  padding-bottom: 50px;
}
#halloweenText{
  text-align: center;
}
footer{
  height: 220px;
  background-color: orangered;
  color:black;
  text-align: center;
  padding: 20px;
}

/* Style all font awesome icons */
.fa {
  margin-top: 20px;
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

/* Snapchat */
.fa-snapchat-ghost {  
  background: #fffc00;  
  color: white;  
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;  
}

